  
<div class="container">
  <form action="/addUser/" method="POST">

    <label for="date">Date</label>
    <input type="text" name="icecream">

    <label for="distance">Distance</label>
    <input type="text" name="distance">

    <label for="time">Time</label>
    <input type="text" name="age">

    <label for="avgPace">Avg Pace</label>
    <input type="text" name="email">

    <input type="submit" value="Submit">

  </form>
</div>