  
<div class="container">
  <form action="/" method="POST">

    <label for="date">Date</label>
    <input type="text" name="date">

    <label for="distance">Distance</label>
    <input type="text" name="distance">

    <label for="time">Time</label>
    <input type="text" name="time">

    <label for="avgPace">Avg Pace</label>
    <input type="text" name="avgPace">

    <input type="submit" value="Submit">

  </form>
</div>