{{> header}} 

<section>
    <h3>Monthly Update</h3>
    {{#each runData}}
    <p> On the {{date}} you ran {{distance}}km's with a time of {{time}} and an average pace of {{avgPace}} per kilometre, your awesome!</p>
    {{/each}}
</section>